{% trans_default_domain 'FOSUserBundle' %}
<div id="content">
	<h1>{{ 'userManager.update_profile'|trans({}, 'messages') }}</h1>
	{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
	    <h2>{{ 'form.username'|trans}} :</h2>
		{{ form_row(form.username) }}
		<h2>{{ 'form.email'|trans}} :</h2>
		{{ form_row(form.email) }}
		<h2>{{ 'form.current_password'|trans}} :</h2>
		{{ form_row(form.current_password) }}
	    <div>
	        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="button"/>
	    </div>
	{{ form_end(form) }}
</div>