{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/media/css/jquery.dataTables.css') }}">
<link rel="stylesheet" type="text/css" media="screen and (max-width: 850px)" href="{{ asset('css/smartphone/table.css') }}">
<link rel="stylesheet" type="text/css" media="screen and (min-width: 850px)" href="{{ asset('css/table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/addermodal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/delmodal.css') }}">

{% endblock %}

{% block title %}Affaire QB{% endblock %}

{% block header %}
	<div class="filterHeader">
		<div class="leftBanner">
			<button id="addAffaireBtn", class='button'>Ajouter</button>
			<button id="modifAffaireBtn", class='button'>Modifier</button>
			<button id="delAffaireBtn", class='button'>Supprimer</button>
		</div>
		<div class="checkboxFilter">
			<table>
				<tr>
					<td>
						<input type="checkbox" id="cbEnCours" name="cbEnCours" class="stateCheckbox" value="cbEnCours">
						<label for="cbEnCours"><img src="{{ asset('/img/blue.jpg')}}"> En Cours</label>
					</td>
					<td>
						<input type="checkbox" id="cbFin" name="cbFin" class="stateCheckbox" value="cbFin">
						<label for="cbFin"><img src="{{ asset('/img/red.jpg')}}"> Finies</label>
					</td>
				</tr>
					<td>
						<input type="checkbox" id="cbOublie" name="cbOublie" class="stateCheckbox" value="cbOublie">
						<label for="cbOublie"><img src="{{ asset('/img/maroon.jpg')}}"> Oubliées</label>
					</td>
					<td>
						<input type="checkbox" id="cbSuspendu" name="cbSuspendu" class="stateCheckbox" value="cbSuspendu">
						<label for="cbSuspendu"><img src="{{ asset('/img/orange.jpg')}}"> Suspendues</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="cbSignEC" name="cbSignEC" class="stateCheckbox" value="cbSignEC">
						<label for="cbSignEC"><img src="{{ asset('/img/green_2.jpg')}}"> Signature En Cours</label>
					</td>
					<td>
						<input type="checkbox" id="cbSigne" name="cbSigne" class="stateCheckbox" value="cbSigne">
						<label for="cbSigne"><img src="{{ asset('/img/green.jpg')}}"> Signées</label>
					</td>
				</tr>
			</table>
		</div>
		<button type="submit" class="button" id="refresh"><span class="fas fa-sync-alt"></span></button>
		<div class="rightBanner">
			<select id="timeSelect" class="selector">
				<option value="">Tous</option>
					<optgroup label="Jours">
						<option value="prevDay">J-1</option>
						<option value="onDay">J</option>
						<option value="nextDay">J+1</option>
					</optgroup>
					<optgroup label="Semaine">
						<option value="prevWeek">S-1</option>
						<option value="onWeek">S</option>
						<option value="nextWeek">S+1</option>
					</optgroup>
					<optgroup label="Mois">
						<option value="prevMonth">M-1</option>
						<option value="onMonth">M</option>
						<option value="nextMonth">M+1</option>
					</optgroup>
			</select>
			<input type="text" id="searchbox" placeholder="Recherche">
			<span id="commercialSelect"></span>
		</div>
	</div>
{% endblock %}

{% block body %}

<div id="config" style="display:none;">{{ config.timeStep }}-{{ config.commercialPref }}-{{ config.enCours }}-{{ config.oublie }}-{{ config.suspendu }}-{{ config.fin }}-{{ config.signe }}-{{ config.signEC }}</div>

<div id="addAffaireModal" class="modal order-column">

	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>Ajouter une affaire</h1>

		<div class="modalbody">
			{{ form_start(addform) }}
			    {{ form_errors(addform) }}

			    <div class='personne'>
				    <div class='nom'>
					    {{ form_row(addform.Civilite, { 'label' : 'NOM | Prénom' }) }}
					    <div id="nomField">
						    {{ form_row(addform.Nom, { 'label' : false }) }}
						</div>
						<div id="prenomField">
						    {{ form_row(addform.Prenom, { 'label' : false }) }}
						</div>

					</div>
				    {{ form_row(addform.Societe, { 'label' : 'Société' }) }}
					{{ form_row(addform.Telephone, { 'label' : 'Téléphone' }) }}
					{{ form_row(addform.EMail, { 'label' : '@mail' }) }}
				</div>
				<div class='adresse'>
					{{ form_row(addform.Rue, { 'label' : 'Adresse' }) }}
					{{ form_row(addform.Complement, { 'label' : 'Complément' }) }}
					<div class='cpVille'>
						<div id='cp'>
							{{ form_row(addform.CP, { 'label' : 'CP | VILLE' }) }}
						</div>
						<div id='ville'>
							{{ form_row(addform.Ville, { 'label' : false }) }}
						</div>
					</div>
				</div>
				<div class='detailComm'>
					{{ form_row(addform.Commercial, { 'label' : 'Commercial' }) }}
					{{ form_row(addform.Debut, { 'label' : 'Début' }) }}
				</div>
				<div class='detailAffaire'>
					{{ form_row(addform.DevisType, { 'label' : 'Type de devis' }) }}
					<div class='nbType'>
						<div id='sysType'>
							{{ form_row(addform.SystemType, { 'label' : 'Type de Systeme | Nb' }) }}
						</div>
						{{ form_row(addform.NbController, { 'label' : false }) }}
					</div>
					{{ form_row(addform.Provenance, { 'label' : 'Provenance' }) }}
					{{ form_row(addform.Commentaire, { 'label' : 'Commentaire' }) }}
					<div class="hidden-row">{{ form_row(addform.Id) }}</div>
				</div>
				<div class='adderBtn'>
					{{ form_row(addform.Ajouter, {'attr': {'class': 'button'}}) }}

					<div>
						<input type="button" value="Modifier" class="button" id="modifConfirmBtn" style="display : none;">
						<input type="button" value="Annuler" class="button close">
					</div>
				</div>
			{{ form_end(addform) }}
		</div>
		
	</div>
</div>

<div id="delAffaireModal" class="modal">
	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>Supprimer</h1>
		<div class='modalbody clearfix'>
			<p>Voulez vous vraiment supprimer l'affaire : <span id='delModalNom'></span> - <span id='delModalSociete'></span>?</p>
			<span id="delResponse"></span>
			<div class="deleteBtn">
				<button id="delConfirmBtn" class='button'>Supprimer</button>
				<button id="delCancelmBtn" class='button close'>Annuler</button>
			</div>
		</div>
	</div>
</div>

<div id="waiter">
	<div><img src="{{ asset('img/waiter.gif') }}" width="35" height="35"></div>
	<div id="text">Chargement des affaires</div>
</div>

<div id='affaireDetail'>
	<table class='client_Tab' class="hover">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th style="display:none">Civilité</th>
				<th>Nom</th>
				<th>Société</th>

				<th style="display:none">Rue</th>
				<th style="display:none">Complement</th>
				<th style="display:none">CP</th>
				<th class="spHide">Ville</th>

				<th style="display:none">@mail</th>
				<th class="spHide">Téléphone</th>

				<th class="centerCol spHide">Nb</th>
				<th class="spHide">Devis</th>
				<th class="spHide">Système</th>
				<th style="display:none">Provenance</th>

				<th style="display:none">Date de Début</th>
				<th style="display:none">Etat</th>
				<th class="centerCol">Rappel</th>
				<th class="centerCol spHide cialCol">Cial</th>
				<th style="display:none">Commentaire</th>
				<th style="display:none">Info</th>
				<th style="display:none">Numéros de dossier</th>
				<th style="display:none">Id</th>
			</tr>
		</thead>
		<tbody>
			{% for affaire in affaires %}
				<tr>
					<td class="centerCol"></td>
					<td class="centerCol">{{ affaire.etat }}</td>
					<td style="display:none">{{ affaire.civilite }}</td>
					<td>{{ affaire.nom }}</td>
					<td>{{ affaire.societe }}</td>

					<td style="display:none">{{ affaire.rue }}</td>
					<td style="display:none">{{ affaire.complement }}</td>
					<td style="display:none">{{ affaire.cp }}</td>
					<td class="spHide">{{ affaire.ville }}</td>

					<td style="display:none">{{ affaire.mail }}</td>
					<td class="centerCol spHide">{{ affaire.telephone }}</td>

					<td class="centerCol spHide">{{ affaire.nb_controller }}</td>
					<td class="spHide">{{ affaire.devi_type }}</td>
					<td class="spHide">{{ affaire.system_type }}</td>
					<td style="display:none">{{ affaire.provenance }}</td>

					<td style="display:none">{{ affaire.debut }}</td>
					<td style="display:none">{{ affaire.etat }}</td>					
					<td class="centerCol">{{ affaire.rappel }}</td>
					<td class="centerCol spHide cialCol">{{ affaire.commercial }}</td>
					<td style="display:none">{{ affaire.commentaire }}</td>
					<td style="display:none">{{ affaire.info }}</td>
					<td style="display:none">{{ affaire.numDossier }}</td>
					<td style="display:none" id="idAffaire">{{ affaire.id }}</td>
				</tr>
			{% endfor %}
			
		</tbody>
		<tfoot></tfoot>
	</table>
</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/affaire.js') }}"></script>
	<script src="{{ asset('js/modal.js') }}"></script>
	<script src="{{ asset('js/callAjax.js') }}"></script>
	<script src="{{ asset('js/preference.js') }}"></script>
{% endblock %}