{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.dataTables.css') }}">
<link rel="stylesheet" type="text/css" media="screen and (max-width: 850px)" href="{{ asset('css/smartphone/table.css') }}">
<link rel="stylesheet" type="text/css" media="screen and (min-width: 850px)" href="{{ asset('css/table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/addermodal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/delmodal.css') }}">

{% endblock %}

{% block title %}Affaire QB{% endblock %}

{% block header %}
	<div class="filterHeader">
		<div class="leftBanner">
			<button id="addAffaireBtn", class='button'>{{ 'button.add'|trans }}</button>
			<button id="modifAffaireBtn", class='button'>{{ 'button.modify'|trans }}</button>
			<button id="delAffaireBtn", class='button'>{{ 'button.del'|trans }}</button>
		</div>
		<div class="middleBanner">
			<div class="checkboxFilter">
				<table>
					<tr>
						<td>
							<input type="checkbox" id="cbEnCours" name="cbEnCours" class="stateCheckbox" value="cbEnCours">
							<label for="cbEnCours">
								<span class="colorSquare stateColorSquare" style="background-color: #0061C0;"></span>
								<div class="spHide"> {{ 'business.header.onLive'|trans }}</div>
							</label>
						</td>
						<td>
							<input type="checkbox" id="cbSignEC" name="cbSignEC" class="stateCheckbox" value="cbSignEC">
							<label for="cbSignEC">
								<span class="colorSquare stateColorSquare" style="background-color: #229E55;"></span>
								<div class="spHide"> {{ 'business.header.sign in progress'|trans }}</div>
							</label>
						</td>
						<td>
							<input type="checkbox" id="cbSigne" name="cbSigne" class="stateCheckbox" value="cbSigne">
							<label for="cbSigne">
								<span class="colorSquare stateColorSquare" style="background-color: #2DB330;"></span>
								<div class="spHide"> {{ 'business.header.signed'|trans }}</div>
							</label>
						</td>
					</tr>
						<td>
							<input type="checkbox" id="cbOublie" name="cbOublie" class="stateCheckbox" value="cbOublie">
							<label for="cbOublie">
								<span class="colorSquare stateColorSquare" style="background-color: #FDF264;"></span>
								<div class="spHide"> {{ 'business.header.forgotten'|trans }}</div>
							</label>
						</td>
						<td>
							<input type="checkbox" id="cbSuspendu" name="cbSuspendu" class="stateCheckbox" value="cbSuspendu">
							<label for="cbSuspendu">
								<span class="colorSquare stateColorSquare" style="background-color: #FF7B3B;"></span>
								<div class="spHide"> {{ 'business.header.suspended'|trans }}</div>
							</label>
						</td>
						<td>
							<input type="checkbox" id="cbFin" name="cbFin" class="stateCheckbox" value="cbFin">
							<label for="cbFin">
								<span class="colorSquare stateColorSquare" style="background-color: #D81415;"></span>
								<div class="spHide"> {{ 'business.header.ended'|trans }}</div>
							</label>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="rightBanner">
			<input type="text" id="searchbox" placeholder="{{ 'business.header.search'|trans }}">
			<div class="selectArea">
				<select id="timeSelect" class="selector">
					<option value="">{{ 'business.header.all'|trans }}</option>
						<optgroup label="{{ 'business.header.day'|trans }}">
							<option value="prevDay">{{ 'business.header.D'|trans }}-1</option>
							<option value="onDay">{{ 'business.header.D'|trans }}</option>
							<option value="nextDay">{{ 'business.header.D'|trans }}+1</option>
						</optgroup>
						<optgroup label="{{ 'business.header.week'|trans }}">
							<option value="prevWeek">{{ 'business.header.W'|trans }}-1</option>
							<option value="onWeek">{{ 'business.header.W'|trans }}</option>
							<option value="nextWeek">{{ 'business.header.W'|trans }}+1</option>
						</optgroup>
						<optgroup label="{{ 'business.header.month'|trans }}">
							<option value="prevMonth">{{ 'business.header.M'|trans }}-1</option>
							<option value="onMonth">{{ 'business.header.M'|trans }}</option>
							<option value="nextMonth">{{ 'business.header.M'|trans }}+1</option>
						</optgroup>
				</select>
				<span id="commercialSelect"></span>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block body %}

<div id="config" style="display:none;">{{ config.timeStep }}-{{ config.commercialPref }}-{{ config.enCours }}-{{ config.oublie }}-{{ config.suspendu }}-{{ config.fin }}-{{ config.signe }}-{{ config.signEC }}</div>

<div id="addAffaireModal" class="modal order-column">

	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>{{ 'business.modal.addBusiness'|trans }}</h1>

		<div class="modalbody">
			{{ form_start(addform) }}
			    {{ form_errors(addform) }}

			    <div class='personne'>
				    <div class='nom'>
				    	{% set firstNameLastNameLabel = 'business.modal.lastName'|trans~'|'~'business.modal.firstName'|trans %}
					    {{ form_row(addform.Civilite, { 'label' : firstNameLastNameLabel }) }}

					    <div id="nomField">
						    {{ form_row(addform.Nom, { 'label' : false }) }}
						</div>
						<div id="prenomField">
						    {{ form_row(addform.Prenom, { 'label' : false }) }}
						</div>

					</div>
				    {{ form_row(addform.Societe) }}
					{{ form_row(addform.Telephone) }}
					{{ form_row(addform.EMail) }}
				</div>
				<div class='adresse'>
					{{ form_row(addform.Rue) }}

					{{ form_row(addform.Complement) }}

					<div class='cpVille'>
						<div id='cp'>
							{% set pcCityLabel = 'business.modal.pc'|trans~'|'~'business.modal.city'|trans %}
							{{ form_row(addform.CP, { 'label' : pcCityLabel }) }}
						</div>
						<div id='ville'>
							{{ form_row(addform.Ville, { 'label' : false }) }}
						</div>
					</div>
				</div>
				<div class='detailComm'>
					{{ form_row(addform.Commercial) }}
					{{ form_row(addform.Debut) }}
				</div>
				<div class='detailAffaire'>
					{{ form_row(addform.DevisType) }}
					<div class='nbType'>
						<div id='sysType'>
							{% set systemeTypeNbLabel = 'business.modal.systemType'|trans~'|'~'business.modal.nb'|trans %}
							{{ form_row(addform.SystemType, { 'label' : systemeTypeNbLabel }) }}
						</div>
						{{ form_row(addform.NbController, { 'label' : false }) }}
					</div>
					{{ form_row(addform.Provenance) }}

					{{ form_row(addform.Commentaire) }}
					<div class="hidden-row">{{ form_row(addform.Id) }}</div>
				</div>
				<div class='adderBtn'>
					{{ form_row(addform.Ajouter, {'attr': {'class': 'button'}}) }}

					<div>
						<input type="button" value="{{ 'button.modify'|trans }}" class="button" id="modifConfirmBtn" style="display : none;">
						<input type="button" value="{{ 'button.cancel'|trans }}" class="button close">
					</div>
				</div>
			{{ form_end(addform) }}
		</div>
		
	</div>
</div>

<div id="delAffaireModal" class="modal">
	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>{{ 'business.modal.delete'|trans }}</h1>
		<div class='modalbody clearfix'>
			<p>{{ 'business.modal.doYouWantToDel'|trans }} : <span id='delModalNom'></span> - <span id='delModalSociete'></span>?</p>
			<span id="delResponse"></span>
			<div class="deleteBtn">
				<button id="delConfirmBtn" class='button'>{{ 'button.del'|trans }}</button>
				<button id="delCancelmBtn" class='button close'>{{ 'button.cancel'|trans }}</button>
			</div>
		</div>
	</div>
</div>

<div id="waiter">
	<div><img src="{{ asset('images/waiter.gif') }}" width="35" height="35"></div>
	<div id="text">{{ 'business.loading'|trans }}</div>
</div>

<div id='affaireDetail'>
	<table class='client_Tab' class="hover">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th style="display:none">Civilité</th>
				<th>{{ 'business.table.name'|trans }}</th>
				<th>{{ 'business.table.society'|trans }}</th>

				<th style="display:none">Rue</th>
				<th style="display:none">Complement</th>
				<th style="display:none">CP</th>
				<th class="spHide">{{ 'business.table.city'|trans }}</th>

				<th style="display:none">@mail</th>
				<th class="spHide">{{ 'business.table.phone'|trans }}</th>

				<th class="centerCol spHide">{{ 'business.table.number'|trans }}</th>
				<th class="spHide">{{ 'business.table.quote'|trans }}</th>
				<th class="spHide">{{ 'business.table.system'|trans }}</th>
				<th style="display:none">Provenance</th>

				<th style="display:none">Date de Début</th>
				<th style="display:none">Etat</th>
				<th class="centerCol">{{ 'business.table.reminder'|trans }}</th>
				<th class="centerCol spHide cialCol">{{ 'business.table.commercial'|trans }}</th>
				<th style="display:none">Commentaire</th>
				<th style="display:none">Info</th>
				<th style="display:none">Numéros de dossier</th>
				<th style="display:none">Id</th>
			</tr>
		</thead>
		<tbody>
			{% for affaire in affaires %}
				<tr>
					<td class="centerCol"></td>
					<td class="centerCol">{{ affaire.etat }}</td>
					<td style="display:none">{{ affaire.civilite }}</td>
					<td>{{ affaire.nom }}</td>
					<td>{{ affaire.societe }}</td>

					<td style="display:none">{{ affaire.rue }}</td>
					<td style="display:none">{{ affaire.complement }}</td>
					<td style="display:none">{{ affaire.cp }}</td>
					<td class="spHide">{{ affaire.ville }}</td>

					<td style="display:none">{{ affaire.mail }}</td>
					<td class="centerCol spHide">{{ affaire.telephone }}</td>

					<td class="centerCol spHide">{{ affaire.nb_controller }}</td>
					<td class="spHide">{{ affaire.devi_type }}</td>
					<td class="spHide">{{ affaire.system_type }}</td>
					<td style="display:none">{{ affaire.provenance }}</td>

					<td style="display:none">{{ affaire.debut }}</td>
					<td style="display:none">{{ affaire.etat }}</td>					
					<td class="centerCol">{{ affaire.rappel }}</td>
					<td class="centerCol spHide cialCol">
						{% if affaire.commercial is not null %}
							<span class="colorSquare blockColorSquare" style="background-color:{{ affaire.commercial.couleur }};"></span>{{ affaire.commercial.acronyme }}
						{% endif %}
					</td>
					<td style="display:none">{{ affaire.commentaire }}</td>
					<td style="display:none">{{ affaire.info }}</td>
					<td style="display:none">{{ affaire.numDossier }}</td>
					<td style="display:none" id="idAffaire">{{ affaire.id }}</td>
				</tr>
			{% endfor %}
			
		</tbody>
		<tfoot></tfoot>
	</table>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/affaire.js') }}"></script>
	<script src="{{ asset('js/modal.min.js') }}"></script>
	<script src="{{ asset('js/callAjax.min.js') }}"></script>
	<script src="{{ asset('js/preference.min.js') }}"></script>
{% endblock %}