{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/commTab.css') }}">

{% endblock %}


{% block title %}Commercial{% endblock %}

{% block header %}
	{% if is_granted('ROLE_ADMIN') %}
	 	<a href="/commercial/add" ><input type="button" class="button" value="{{ 'button.add'|trans }}"></a>
	 	<a href="/commercial/modif/" class="modifComm"><input type="button" class="button" value="{{ 'button.modify'|trans }}" id="modifComm"></a>
	 	<input type="button" class="button" value="{{ 'button.del'|trans }}" id="delComm">
	{% endif %}
{% endblock %}


{% block body %}

<div id="delModal" class="modal">

	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>{{ 'commercial.table.delComm'|trans }}</h1>
		<div class='modalbody'>
			<p> {{ 'commercial.table.doYouWantToDel'|trans }} <span id='delModalNom'></span> {{ 'commercial.table.ofDatabase'|trans }}?</p>
			<div class='comment'>({{ 'commercial.table.warningMessage'|trans }}.)</div>
			<span id="delResponse"></span>
			<div class="deleteBtn">
				<button id="delConfirmBtn" class='button'>{{ 'button.del'|trans }}</button>
				<button id="delCancelmBtn" class='button close'>{{ 'button.cancel'|trans }}</button>
			</div>
		</div>
	</div>
</div>

<div id='content'>
    <h1>{{ 'commercial.table.listComm'|trans }}</h1>
	<table id='commTab'>
		<thead>
			<tr>
				<th>{{ 'commercial.name'|trans }}</th>
				<th>{{ 'commercial.acronym'|trans }}</th>
				<th>{{ 'commercial.color'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for commercial in commercialTab %}
				<tr>
					<td class="nom">{{ commercial.nom }}</td>
					<td class="acronyme">{{ commercial.acronyme }}</td>
					<td><span class="colorSquare blockColorSquare" style="background-color: {{ commercial.couleur }};"></td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/commercial.js') }}"></script>
{% endblock %}