{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}">
{% endblock %}


{% block title %}Lecture{% endblock %}  


{% block body %}
<a href="/tache/add"><button id="addAffaireBtn", class='button'>Ajouter</button></a>

<table id='client_Tab' class="hover stripe">
	<thead>
		<tr>
			<th>Commercial</th>
			<th>Affaire</th>
			<th>Type</th>
			<th>Date</th>
			<td>Id</td>
		</tr>
	</thead>
	<tbody>
		{% for tache in taches %}
			<tr>
				<td>{{ tache.affaire.nom }} - {{ tache.affaire.societe }}</td>
				<td>{{ tache.commercial.acronyme }}</td>
				<td>{{ tache.type }}</td>
				<td>{{ tache.date }}</td>
				<td>{{ tache.affaire.id }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>


{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/tache.js') }}"></script>
{% endblock %}