{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/userManager.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
{% endblock %}

{% block title %}User Manager{% endblock %}

{% block header %}
    <a href="/register/" ><input type="button" class="button" value="{{ 'button.add'|trans }}"></a>
    <input type="button" class="button" value="{{ 'button.del'|trans }}" id="delUser">
    <input type="button" class="button promoteUser" value="{{ 'button.promote'|trans }}">
    <input type="button" class="button demoteUser" value="{{ 'button.demote'|trans }}">
{% endblock %}

{% block body %}
    <div id="delModal" class="modal">

        <div class="modal-content">
            <span class="close cross">&times;</span>
            <h1>{{ 'userManager.delUser'|trans }}</h1>
            <div class="modalbody">
                <p>{{ 'userManager.delConfirm'|trans }} : <span id='delModalNom'></span>?</p>
                <span id="delResponse"></span>
                <div class="deleteBtn">
                    <button id="delConfirmBtn" class='button'>{{ 'button.del'|trans }}</button>
                    <button id="delCancelmBtn" class='button close'>{{ 'button.cancel'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="userFrame">
        <h1>{{ 'userManager.userList'|trans }}</h1>
        <table id="userList">
            <thead>
                <tr>
                    <th>{{ 'userManager.username'|trans }}</th>
                    <th>{{ 'userManager.email'|trans }}</th>
                    <th colspan=3>{{ 'userManager.role'|trans }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="subTitle">SUPER</th>
                    <th class="subTitle">ADMIN</th>
                    <th class="subTitle">USER</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="username">{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td class='centerCol super'>{{ (user.roles|first == 'ROLE_SUPER_ADMIN') ? '&times;' : ''}}</td>
                        <td class='centerCol admin'>{{ (user.roles|first == 'ROLE_ADMIN') ? '&times;' : ''}}</td>
                        <td class='centerCol user'>{{ (user.roles|first == 'ROLE_USER') ? '&times;' : ''}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/userManager.js') }}"></script>
{% endblock %}