{% trans_default_domain 'FOSUserBundle' %}
<div id="content">
	<h1>{{ 'resetting.reset.submit'|trans }}</h1>
	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
	    <h2>{{ 'form.current_password'|trans}} :</h2>
		{{ form_row(form.current_password) }}
		<h2>{{ 'form.new_password'|trans}} :</h2>
		{{ form_row(form.plainPassword.first) }}
		<h2>{{ 'form.new_password_confirmation'|trans}} :</h2>
		{{ form_row(form.plainPassword.second) }}
	    <div>
	        <input type="submit" value="{{ 'change_password.submit'|trans }}" class='button'/>
	    </div>
	{{ form_end(form) }}
</div>
