{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/media/css/jquery.dataTables.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ asset('css/table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/addermodal.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/delmodal.css') }}">

{% endblock %}

{% block title %}Client QB{% endblock %}

{% block body %}
<div id="config" style="display:none;">{{ config.timeStep }}-{{ config.commercialPref }}-{{ config.etatPref }}</div>

<div id="header">
	<a href="/affaire/table" class="txtBanner"><div id="qbBanner">Quizzbox</div><div id="affaireBanner">Affaire</div></a>
	<div class="leftBanner">
		<button id="addAffaireBtn", class='button'>Ajouter</button>
		<button id="modifAffaireBtn", class='button'>Modifier</button>
		<button id="delAffaireBtn", class='button'>Supprimer</button>
	</div>
	<div class="checkboxFilter">
		<table>
			<tr>
				<td colspan=2>
					<input type="checkbox" id="twoCloseWeek" name="twoCloseWeek" class="stateCheckbox" value="twoCloseWeek">
					<label for="twoCloseWeek">Semaine passé et en cours</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" id="onMonth" name="onMonth" class="stateCheckbox" value="onMonth">
					<label for="onMonth">Mois en Cours</label>
				</td>
				<td>
					<input type="checkbox" id="nextMonth" name="nextMonth" class="stateCheckbox" value="nextMonth">
					<label for="nextMonth">Prochain Mois</label>
				</td>
			</tr>
		</table>
	</div>

	<div class="rightBanner">
		
		<span id="etatSelect"></span>
		<input type="text" id="searchbox" placeholder="Recherche">
		<span id="commercialSelect"></span>
	</div>
</div>

<div id="addAffaireModal" class="modal order-column">

	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>Ajouter une affaire</h1>

		<div class="modalbody">
			{{ form_start(addform) }}
			    {{ form_errors(addform) }}

			    <div class='personne'>
				    <div class='nom'>
					    {{ form_row(addform.Civilite, { 'label' : 'NOM | Prénom' }) }}
					    <div id="nomField">
						    {{ form_row(addform.Nom, { 'label' : false }) }}
						</div>
						<div id="prenomField">
						    {{ form_row(addform.Prenom, { 'label' : false }) }}
						</div>

					</div>
				    {{ form_row(addform.Societe, { 'label' : 'Société' }) }}
					{{ form_row(addform.Telephone, { 'label' : 'Téléphone' }) }}
					{{ form_row(addform.EMail, { 'label' : '@mail' }) }}
				</div>
				<div class='adresse'>
					{{ form_row(addform.Rue, { 'label' : 'Adresse' }) }}
					{{ form_row(addform.Complement, { 'label' : 'Complément' }) }}
					<div class='cpVille'>
						<div id='cp'>
							{{ form_row(addform.CP, { 'label' : 'CP | VILLE' }) }}
						</div>
						<div id='ville'>
							{{ form_row(addform.Ville, { 'label' : false }) }}
						</div>
					</div>
				</div>
				<div class='detailComm'>
					{{ form_row(addform.Commercial, { 'label' : 'Commercial' }) }}
					{{ form_row(addform.Debut, { 'label' : 'Début' }) }}
				</div>
				<div class='detailAffaire'>
					{{ form_row(addform.DevisType, { 'label' : 'Type de devis' }) }}
					<div class='nbType'>
						<div id='sysType'>
							{{ form_row(addform.SystemType, { 'label' : 'Type de Systeme | Nb' }) }}
						</div>
						{{ form_row(addform.NbController, { 'label' : false }) }}
					</div>
					{{ form_row(addform.Provenance, { 'label' : 'Provenance' }) }}
					{{ form_row(addform.Commentaire, { 'label' : 'Commentaire' }) }}
					<div class="hidden-row">{{ form_row(addform.Id) }}</div>
				</div>
				<div class='adderBtn'>
					{{ form_row(addform.Ajouter, {'attr': {'class': 'button'}}) }}

					<div>
						<input type="button" value="Modifier" class="button" id="modifConfirmBtn" style="display : none;">
						<input type="button" value="Annuler" class="button close">
					</div>
				</div>
			{{ form_end(addform) }}
		</div>
		
	</div>
</div>

<div id="delAffaireModal" class="modal">
	<div class="modal-content">
		<span class="close cross">&times;</span>
		<h1>Supprimer</h1>
		<div class='modalbody clearfix'>
			<p>Voulez vous vraiment supprimer l'affaire : <span id='delModalNom'></span> - <span id='delModalSociete'></span>?</p>
			<span id="delResponse"></span>
			<div class="deleteBtn">
				<button id="delConfirmBtn" class='button'>Supprimer</button>
				<button id="delCancelmBtn" class='button close'>Annuler</button>
			</div>
		</div>
	</div>
</div>

<div id='affaireDetail'>
	<table class='client_Tab' class="hover">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th style="display:none">Civilité</th>
				<th>Nom</th>
				<th>Société</th>

				<th style="display:none">Rue</th>
				<th style="display:none">Complement</th>
				<th style="display:none">CP</th>
				<th>Ville</th>

				<th style="display:none">@mail</th>
				<th>Téléphone</th>

				<th class="centerCol">Nb</th>
				<th>Devis</th>
				<th style="display:none">Système</th>
				<th style="display:none">Provenance</th>

				<th style="display:none">Date de Début</th>
				<th style="display:none">Etat</th>
				<th class="centerCol">Rappel</th>
				<th class="centerCol">Cial</th>
				<th style="display:none">Commentaire</th>
				<th style="display:none">Info</th>
				<th style="display:none">Id</th>
			</tr>
		</thead>
		<tbody>
			{% for affaire in affaires %}
				<tr>
					<td class="centerCol"></td>
					<td class="centerCol">{{ affaire.etat }}</td>
					<td style="display:none">{{ affaire.civilite }}</td>
					<td>{{ affaire.nom }}</td>
					<td>{{ affaire.societe }}</td>

					<td style="display:none">{{ affaire.rue }}</td>
					<td style="display:none">{{ affaire.complement }}</td>
					<td style="display:none">{{ affaire.cp }}</td>
					<td>{{ affaire.ville }}</td>

					<td style="display:none">{{ affaire.mail }}</td>
					<td class="centerCol">{{ affaire.telephone }}</td>

					<td class="centerCol">{{ affaire.nb_controller }}</td>
					<td>{{ affaire.devi_type }}</td>
					<td style="display:none">{{ affaire.system_type }}</td>
					<td style="display:none">{{ affaire.provenance }}</td>

					<td style="display:none">{{ affaire.debut }}</td>
					<td style="display:none">{{ affaire.etat }}</td>					
					<td class="centerCol">{{ affaire.rappel }}</td>
					<td class="centerCol">{{ affaire.commercial }}</td>
					<td style="display:none">{{ affaire.commentaire }}</td>
					<td style="display:none">{{ affaire.info }}</td>
					<td style="display:none" id="idAffaire">{{ affaire.id }}</td>
				</tr>
			{% endfor %}
			
		</tbody>
		<tfoot></tfoot>
	</table>
</div>

<input type="button" value="Today's event?" id="testBtn" class="button">

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/affaire.js') }}"></script>
	<script src="{{ asset('js/modal.js') }}"></script>
	<script src="{{ asset('js/callAjax.js') }}"></script>
	<script src="{{ asset('js/preference.js') }}"></script>
{% endblock %}